specification/schema/documentation.rnc

namespace html = "http://www.w3.org/1999/xhtml"

##
## Copyright © EMC Corporation. All rights reserved.
##

documentation = element documentation { inline?, doc-title?, html }
inline = attribute inline { "true" | "false" }
doc-title = element title { text }
html = html-content*
html-content = html-element | text | ref
html-element = element html:* { html-attribute*, html-content* }
html-attribute = attribute * { text? }
