schema/radl.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://identifiers.emc.com/radl" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="service"/>
  </start>
  <include href="ref.rng"/>
  <include href="documentation.rng"/>
  <define name="service">
    <element name="service">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="service-start"/>
      </optional>
      <optional>
        <ref name="link-relations"/>
      </optional>
      <optional>
        <ref name="link-types"/>
      </optional>
      <optional>
        <ref name="service-conventions"/>
      </optional>
      <optional>
        <ref name="media-types"/>
      </optional>
      <optional>
        <ref name="resources"/>
      </optional>
      <optional>
        <ref name="authentication"/>
      </optional>
    </element>
  </define>
  <!-- Generic definitions -->
  <define name="id">
    <attribute name="id">
      <data type="ID"/>
    </attribute>
  </define>
  <define name="idref">
    <attribute name="ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="title">
    <element name="title">
      <text/>
    </element>
  </define>
  <define name="name">
    <attribute name="name"/>
  </define>
  <define name="href">
    <attribute name="href">
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="ref-attribute">
    <attribute name="ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="foreign-element">
    <element>
      <anyName>
        <except>
          <nsName/>
        </except>
      </anyName>
      <zeroOrMore>
        <ref name="any-attribute"/>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <zeroOrMore>
            <ref name="foreign-element"/>
          </zeroOrMore>
          <text/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="any-attribute">
    <attribute>
      <anyName/>
      <optional>
        <text/>
      </optional>
    </attribute>
  </define>
  <define name="public">
    <attribute name="public">
      <value>true</value>
    </attribute>
  </define>
  <define name="status">
    <optional>
      <ref name="implementation-status"/>
    </optional>
    <optional>
      <ref name="design-status"/>
    </optional>
  </define>
  <define name="implementation-status">
    <attribute name="implementation-status">
      <choice>
        <value>future</value>
        <value>assigned</value>
        <value>poc</value>
        <value>partial</value>
        <value>complete</value>
        <value>passed</value>
      </choice>
    </attribute>
  </define>
  <define name="design-status">
    <attribute name="design-status">
      <choice>
        <value>future</value>
        <value>assigned</value>
        <value>poc</value>
        <value>partial</value>
        <value>complete</value>
        <value>approved</value>
      </choice>
    </attribute>
  </define>
  <define name="service-start">
    <element name="start">
      <optional>
        <ref name="href"/>
      </optional>
      <ref name="interface-ref"/>
      <optional>
        <ref name="identity-provider-ref"/>
      </optional>
    </element>
  </define>
  <define name="identity-provider-ref">
    <attribute name="identity-provider-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="link-relations">
    <element name="link-relations">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="link-relation"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="link-relation">
    <element name="link-relation">
      <optional>
        <ref name="documentation"/>
      </optional>
      <ref name="id"/>
      <ref name="status"/>
      <ref name="link-relation-name"/>
      <optional>
        <ref name="href"/>
      </optional>
    </element>
  </define>
  <define name="link-relation-name">
    <attribute name="name">
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="link-relation-ref">
    <attribute name="link-relation-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="link-types">
    <element name="link-types">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="link-type"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="link-type">
    <element name="link-type">
      <optional>
        <ref name="documentation"/>
      </optional>
      <ref name="id"/>
      <ref name="status"/>
      <optional>
        <ref name="name"/>
      </optional>
      <optional>
        <ref name="href"/>
      </optional>
      <optional>
        <ref name="path"/>
      </optional>
    </element>
  </define>
  <define name="path">
    <attribute name="path">
      <data type="string"/>
    </attribute>
  </define>
  <define name="service-conventions">
    <element name="conventions">
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="headers"/>
      </optional>
      <optional>
        <ref name="uri-parameters"/>
      </optional>
      <optional>
        <ref name="status-codes"/>
      </optional>
    </element>
  </define>
  <define name="media-types">
    <element name="media-types">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="media-type"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="media-type">
    <element name="media-type">
      <optional>
        <ref name="id"/>
      </optional>
      <choice>
        <ref name="href"/>
        <group>
          <optional>
            <ref name="media-type-extends"/>
          </optional>
          <ref name="name"/>
          <optional>
            <ref name="documentation"/>
          </optional>
          <zeroOrMore>
            <ref name="description"/>
          </zeroOrMore>
          <optional>
            <ref name="documents"/>
          </optional>
          <optional>
            <ref name="media-type-conventions"/>
          </optional>
          <optional>
            <ref name="interfaces"/>
          </optional>
        </group>
      </choice>
    </element>
  </define>
  <define name="media-type-ref">
    <attribute name="media-type-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="media-type-extends">
    <attribute name="extends">
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="description">
    <element name="description">
      <ref name="type"/>
      <ref name="href"/>
      <optional>
        <ref name="documentation"/>
      </optional>
    </element>
  </define>
  <define name="type">
    <attribute name="type">
      <choice>
        <value>rnc</value>
        <value>rng</value>
        <value>xsd</value>
        <value>JSONSchema</value>
        <value>sedola</value>
        <value>text</value>
        <value>html</value>
      </choice>
    </attribute>
  </define>
  <define name="documents">
    <element name="documents">
      <zeroOrMore>
        <ref name="document"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="document">
    <element name="document">
      <choice>
        <group>
          <optional>
            <ref name="id"/>
          </optional>
          <optional>
            <ref name="extends"/>
          </optional>
          <ref name="name"/>
          <optional>
            <ref name="documentation"/>
          </optional>
          <optional>
            <ref name="properties"/>
          </optional>
          <optional>
            <ref name="links"/>
          </optional>
          <zeroOrMore>
            <ref name="document"/>
          </zeroOrMore>
        </group>
        <ref name="ref-attribute"/>
      </choice>
    </element>
  </define>
  <define name="document-ref">
    <element name="document">
      <attribute name="ref">
        <data type="IDREF"/>
      </attribute>
      <optional>
        <ref name="documentation"/>
      </optional>
    </element>
  </define>
  <define name="media-type-conventions">
    <element name="conventions">
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="headers"/>
      </optional>
      <optional>
        <ref name="uri-parameters"/>
      </optional>
      <optional>
        <ref name="status-codes"/>
      </optional>
    </element>
  </define>
  <define name="properties">
    <element name="properties">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="property"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="property">
    <element name="property">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <optional>
        <ref name="documentation"/>
      </optional>
    </element>
  </define>
  <define name="links">
    <element name="links">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="link"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="link">
    <element name="link">
      <choice>
        <ref name="link-relation-ref"/>
        <ref name="link-type-ref"/>
      </choice>
      <ref name="interface-ref"/>
      <optional>
        <ref name="status"/>
      </optional>
      <optional>
        <ref name="documentation"/>
      </optional>
    </element>
  </define>
  <define name="link-type-ref">
    <attribute name="link-type-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="interfaces">
    <element name="interfaces">
      <optional>
        <ref name="interface-conventions"/>
      </optional>
      <zeroOrMore>
        <ref name="interface"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="uri-parameters">
    <element name="uri-parameters">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="uri-parameter"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="uri-parameter">
    <element name="uri-parameter">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <ref name="documentation"/>
      <ref name="datatype"/>
      <optional>
        <ref name="value-range"/>
      </optional>
      <optional>
        <ref name="default-value"/>
      </optional>
    </element>
  </define>
  <define name="uri-parameter-ref">
    <attribute name="uri-parameter-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="interface-conventions">
    <element name="conventions">
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="headers"/>
      </optional>
      <optional>
        <ref name="uri-parameters"/>
      </optional>
      <optional>
        <ref name="status-codes"/>
      </optional>
    </element>
  </define>
  <define name="interface">
    <element name="interface">
      <optional>
        <ref name="headers"/>
      </optional>
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <ref name="methods"/>
    </element>
  </define>
  <define name="interface-ref">
    <attribute name="interface-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="headers">
    <element name="headers">
      <zeroOrMore>
        <ref name="header"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="header">
    <element name="header">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <ref name="header-type"/>
      <optional>
        <ref name="documentation"/>
      </optional>
    </element>
  </define>
  <define name="header-type">
    <attribute name="type">
      <choice>
        <value>request</value>
        <value>response</value>
        <value>general</value>
        <value>entity</value>
      </choice>
    </attribute>
  </define>
  <define name="methods">
    <element name="methods">
      <zeroOrMore>
        <ref name="method"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="method">
    <element name="method">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="method-name"/>
      <optional>
        <ref name="status"/>
      </optional>
      <optional>
        <ref name="request"/>
      </optional>
      <optional>
        <ref name="response"/>
      </optional>
    </element>
  </define>
  <define name="method-name">
    <attribute name="name">
      <ref name="http-method"/>
    </attribute>
  </define>
  <define name="http-method">
    <choice>
      <value>GET</value>
      <value>PUT</value>
      <value>HEAD</value>
      <value>POST</value>
      <value>DELETE</value>
      <value>TRACE</value>
      <value>OPTIONS</value>
      <value>CONNECT</value>
      <value>PATCH</value>
    </choice>
  </define>
  <define name="request">
    <element name="request">
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="request-uri-parameters"/>
      </optional>
      <optional>
        <ref name="header-refs"/>
      </optional>
      <zeroOrMore>
        <ref name="document-ref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="request-uri-parameters">
    <element name="uri-parameters">
      <zeroOrMore>
        <ref name="request-uri-parameter"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="request-uri-parameter">
    <element name="uri-parameter">
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <ref name="name"/>
      </optional>
      <ref name="request-uri-parameter-ref"/>
    </element>
  </define>
  <define name="request-uri-parameter-ref">
    <attribute name="ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="header-refs">
    <element name="header-refs">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="header-ref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="header-ref">
    <element name="header-ref">
      <ref name="ref"/>
    </element>
  </define>
  <define name="response">
    <element name="response">
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="response-status-codes"/>
      </optional>
      <optional>
        <ref name="header-refs"/>
      </optional>
      <zeroOrMore>
        <ref name="document-ref"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="response-status-codes">
    <element name="status-codes">
      <zeroOrMore>
        <element name="status-code">
          <ref name="ref"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="status-codes">
    <element name="status-codes">
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="status-code"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="status-code">
    <element name="status">
      <ref name="code"/>
      <ref name="id"/>
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="http-problem"/>
      </optional>
    </element>
  </define>
  <define name="status-code-ref">
    <attribute name="ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="code">
    <attribute name="code">
      <ref name="HTTP-status-enum"/>
    </attribute>
  </define>
  <define name="HTTP-status-enum">
    <choice>
      <value>100</value>
      <value>101</value>
      <value>102</value>
      <value>200</value>
      <value>201</value>
      <value>203</value>
      <value>204</value>
      <value>205</value>
      <value>206</value>
      <value>207</value>
      <value>208</value>
      <value>301</value>
      <value>302</value>
      <value>303</value>
      <value>304</value>
      <value>305</value>
      <value>306</value>
      <value>307</value>
      <value>308</value>
      <value>400</value>
      <value>401</value>
      <value>402</value>
      <value>403</value>
      <value>404</value>
      <value>405</value>
      <value>406</value>
      <value>407</value>
      <value>408</value>
      <value>409</value>
      <value>410</value>
      <value>411</value>
      <value>412</value>
      <value>413</value>
      <value>414</value>
      <value>415</value>
      <value>416</value>
      <value>417</value>
      <value>418</value>
      <value>420</value>
      <value>422</value>
      <value>423</value>
      <value>424</value>
      <value>425</value>
      <value>426</value>
      <value>428</value>
      <value>429</value>
      <value>431</value>
      <value>444</value>
      <value>449</value>
      <value>450</value>
      <value>451</value>
      <value>494</value>
      <value>495</value>
      <value>496</value>
      <value>497</value>
      <value>499</value>
      <value>500</value>
      <value>501</value>
      <value>502</value>
      <value>503</value>
      <value>504</value>
      <value>505</value>
      <value>506</value>
      <value>507</value>
      <value>508</value>
      <value>509</value>
      <value>510</value>
      <value>511</value>
      <value>598</value>
      <value>599</value>
    </choice>
  </define>
  <define name="http-problem">
    <element name="problem">
      <ref name="problemType"/>
      <ref name="title"/>
      <ref name="detail"/>
      <ref name="supportId"/>
      <ref name="more"/>
    </element>
  </define>
  <define name="problemType">
    <element name="problemType">
      <data type="anyURI"/>
    </element>
  </define>
  <define name="detail">
    <element name="detail">
      <text/>
    </element>
  </define>
  <define name="supportId">
    <element name="supportId">
      <data type="anyURI"/>
    </element>
  </define>
  <define name="more">
    <element name="more">
      <zeroOrMore>
        <ref name="foreign-element"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="resources">
    <element name="resources">
      <optional>
        <ref name="id"/>
      </optional>
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="resource"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="resource">
    <element name="resource">
      <optional>
        <ref name="documentation"/>
      </optional>
      <ref name="id"/>
      <ref name="name"/>
      <optional>
        <ref name="identity-provider-ref"/>
      </optional>
      <optional>
        <ref name="public"/>
      </optional>
      <optional>
        <ref name="status"/>
      </optional>
      <optional>
        <ref name="extends"/>
      </optional>
      <optional>
        <ref name="location"/>
      </optional>
      <zeroOrMore>
        <ref name="resource-interface"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="resource-ref">
    <attribute name="resource-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="extends">
    <attribute name="extends">
      <data type="QName"/>
    </attribute>
  </define>
  <define name="location">
    <element name="location">
      <optional>
        <ref name="documentation"/>
      </optional>
      <choice>
        <ref name="uri"/>
        <ref name="uri-template"/>
      </choice>
    </element>
  </define>
  <define name="uri-template">
    <attribute name="uri-template"/>
  </define>
  <define name="resource-interface">
    <element name="interface">
      <ref name="ref-attribute"/>
    </element>
  </define>
  <define name="authentication">
    <element name="authentication">
      <optional>
        <ref name="authentication-conventions"/>
      </optional>
      <zeroOrMore>
        <ref name="mechanism"/>
      </zeroOrMore>
      <optional>
        <ref name="identity-provider"/>
      </optional>
    </element>
  </define>
  <define name="authentication-conventions">
    <element name="conventions">
      <optional>
        <ref name="documentation"/>
      </optional>
      <optional>
        <ref name="headers"/>
      </optional>
      <optional>
        <ref name="status-codes"/>
      </optional>
    </element>
  </define>
  <define name="mechanism">
    <element name="mechanism">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <ref name="authentication-type"/>
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="scheme"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="mechanism-ref">
    <attribute name="mechanism-ref">
      <data type="IDREF"/>
    </attribute>
  </define>
  <define name="identity-provider">
    <element name="identity-provider">
      <ref name="id"/>
      <ref name="mechanism-ref"/>
    </element>
  </define>
  <define name="authentication-type">
    <attribute name="authentication-type"/>
  </define>
  <define name="scheme">
    <element name="scheme">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <optional>
        <ref name="documentation"/>
      </optional>
      <zeroOrMore>
        <ref name="scheme-parameter"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="scheme-parameter">
    <element name="parameter">
      <optional>
        <ref name="id"/>
      </optional>
      <ref name="name"/>
      <optional>
        <ref name="documentation"/>
      </optional>
    </element>
  </define>
  <define name="datatype">
    <attribute name="datatype">
      <choice>
        <value>string</value>
        <value>boolean</value>
        <value>decimal</value>
        <value>float</value>
        <value>double</value>
        <value>duration</value>
        <value>dateTime</value>
        <value>time</value>
        <value>date</value>
        <value>hexBinary</value>
        <value>base64Binary</value>
        <value>anyURI</value>
        <value>integer</value>
        <value>language</value>
        <value>ID</value>
        <value>IDREF</value>
        <value>integer</value>
        <value>long</value>
        <value>short</value>
        <value>byte</value>
      </choice>
    </attribute>
  </define>
  <define name="value-range">
    <element name="value-range">
      <text/>
    </element>
  </define>
  <define name="default-value">
    <element name="default">
      <text/>
    </element>
  </define>
  <define name="uri">
    <attribute name="uri">
      <data type="anyURI"/>
    </attribute>
  </define>
</grammar>
